<header>
<div class='logo' >ロゴ</div>
  <div class='login_tag'>
    <div class="mouse_form">
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'マウス投稿ページ' %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <%= "#{current_user.nickname}がログイン中です" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <%= link_to '新規登録',  new_user_registration_path %>
    <% end %>
  </div>
</header>